<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />
        <title>Urban Bus</title>
    </head>
    <body>
        <div class="container">
            {{{body}}}
        </div>
    </body>
</html>