  <body>
    <link rel="stylesheet" href="/css/styles.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />
    <nav>
      <div class="logo"> Urban Bus </div>
      <ul>
        <li>
          <a href="/home">Αρχική</a>
        </li>
        <li>
          <a href="/lines">Δρομολόγια</a>
        </li>
        <li>
          <a href="/ticket-selling-points">Εκδοτήρια</a>
        </li>
        <li>
          <a href="/tickets">Εισιτήρια - Κάρτες</a>
        </li>
        <li>
          <a href="/info">Πληροφορίες</a>
        </li>
        <li class="name" id={{loggedUserId}}>
          <img src="sign_in.png" id="1" alt="placeholder" class="sign-in">
        </li>
      </ul>
    </nav>
    <div class="content">
      <div class="from-to">
        <div class="from">
          <p>Από</p>
          <form action="" method="post">
            <input type="search" size=22 placeholder="Επιλέξτε σημείο εκκίνησης">
            <button id="button_from">
              <img src="marker.png">
            </button>
          </form> 
        </div>
        <div class="to">
          <p>Προς</p>
          <form action="" method="post">
            <input type="search" size=22 placeholder="Επιλέξτε προορισμό">
            <button id="button_to">
              <img src="marker.png">
            </button>
          </form> 
        </div>
        <div class="leave-now"><a role="button" href>αναχώρηση τώρα</a></div>
        <div class="searches">
          <div class="no-searches">no recent searches</div>
        </div>      
      </div>
      <div class="accounts" style="background-color: rgb(137, 82, 220); width: 20em; height: 100%; list-style-type: none; position: absolute; right: 0px; border-top-left-radius: 15px;">
        <div class="log-in">
          <h2 style="text-align: center; font-weight: 500; font-size: 1.2em;">Δεν έχετε συνδεθεί</h2>
          <form method="post" action="/login" style="text-align: center; margin-bottom: 20%;">
            <input type="text" size="22" placeholder="username" name="username">
            <input type="password" size="22" placeholder="password" name="password">
            <button type="submit" style="display: block; margin-left: 41%; margin-top: 5%;">sign in</button>
          </form>
        </div>
          <div class="signup" style="text-align: center">
            <h2 style="text-align: center; font-weight: 500; font-size: 1.2em;">Δεν έχετε λογαριασμό;</h2>
            <button onclick="location.href='/register'">Δημιουργία λογαριασμού</button>
        </div>
      </div>
      <div class="anouncements">
        <h2>Ανακοινώσεις</h2>
        <li>
          <p>Ανακοίνωση1</p>
        </li>
        <li>
          <p>Ανακοίνωση2</p>
        </li>
        <li>
          <p>Ανακοίνωση3</p>
        </li>
      </div>
    </div>
    <script src="login_script.mjs"></script>
  </body>
  

