<body>
  <link rel="stylesheet" href="/css/tickets_styles.css">
    <nav>
      <div class="logo"> Urban Bus </div>
      <ul>
        <li>
          <a href="/home">Αρχική</a>
        </li>
        <li>
          <a href="/lines">Δρομολόγια</a>
        </li>
        <li>
          <a href="/ticket-selling-points">Εκδοτήρια</a>
        </li>
        <li>
          <a href="/tickets">Εισιτήρια - Κάρτες</a>
        </li>
        <li>
          <a href="/info">Πληροφορίες</a>
        </li>
        <li>
          <img src="sign_in.png" alt="placeholder" class="sign-in">
        </li>
      </ul>
    </nav>
    <div class="content">
      <div class="tickets-cards">
        <div class="tickets">
          <table>
            <tr>
              <td colspan="3"><h2>Εισιτήρια</h2></td>
            </tr>
            <tr>
              <td rowspan="2"><p>Α'Ζώνης</p></td>
              <td>Κανονικό</td>
              <td>1,10€</td>
            </tr>
            <tr>
              <td>Μειωμένο</td>
              <td>0,60€</td>
            </tr>
            
            <tr>
              <td rowspan="2"><p>Β'Ζώνης</p></td>
              <td>Κανονικό</td>
              <td>1,50€</td>
            </tr>
            <tr>
              <td>Μειωμένο</td>
              <td>0,80€</td>
            </tr>
          </table>
        </div>
        <div class="cards">
          <table>
            <tr>
              <td colspan="3"><h2>Μηνιαίες Κάρτες</h2></td>
            </tr>
            <tr>
              <td rowspan="2"><p>Α'Ζώνης</p></td>
              <td>Κανονική</td>
              <td>55,00€</td>
            </tr>
            <tr>
              <td>Μειωμένη</td>
              <td>27,50€</td>
            </tr>
            
            <tr>
              <td rowspan="2"><p>Β'Ζώνης</p></td>
              <td>Κανονική</td>
              <td>72,00€</td>
            </tr>
            <tr>
              <td>Μειωμένη</td>
              <td>37,50€</td>
            </tr>
          </table>  
        </div>
      </div> 
    </div>
  </body>