<body>
  <link rel="stylesheet" href="/css/ticket-selling-point_styles.css">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />
    <nav>
      <div class="logo"> Urban Bus </div>
      <ul>
        <li>
          <a href="/home">Αρχική</a>
        </li>
        <li>
          <a href="/lines">Δρομολόγια</a>
        </li>
        <li>
          <a href="/ticket-selling-points">Εκδοτήρια</a>
        </li>
        <li>
          <a href="/tickets">Εισιτήρια - Κάρτες</a>
        </li>
        <li>
          <a href="/info">Πληροφορίες</a>
        </li>
        <li>
          <img src="sign_in.png" alt="placeholder" class="sign-in">
        </li>
      </ul>
    </nav>
    <div class="content">
      <div class="places">
        <h2>Σημεία πώλησης εισιτηρίων</h2>
        <div class="r1"> <span id="a">Πλατεία Γεωργίου</span> <span id="b"><table><tr><td>Δευτέρα - Παρασκευή </td><td>6:00 - 22:00</td></tr><tr><td>Σάββατο</td> <td>7:00 - 23:00</td></tr></table></span></div>
        <div class="r2"> <span id="a">Πανεπιστήμιο Πατρών - Πρυτανεία</span> <span id="b"><table><tr><td>Δευτέρα - Παρασκευή </td><td>6:00 - 22:00</td></tr><tr><td>Σάββατο</td> <td>7:00 - 23:00</td></tr></table></span></div>
        <div class="r3"> <span id="a">Πανεπιστημιακό Νοσοκομείο Ρίου</span> <span id="b"><table><tr><td>Δευτέρα - Παρασκευή </td><td>6:00 - 22:00</td></tr><tr><td>Σάββατο</td> <td>7:00 - 23:00</td></tr></table></span></div>
        <div class="r4"> <span id="a">ΤΕΙ Ταραμπούρα</span> <span id="b"><table><tr><td>Δευτέρα - Παρασκευή </td><td>6:00 - 22:00</td></tr><tr><td>Σάββατο</td> <td>7:00 - 23:00</td></tr></table></span></div>
        <div class="r5"> <span id="a">Σταθμαρχείο</span> <span id="b"><table><tr><td>Δευτέρα - Παρασκευή </td><td>6:00 - 22:00</td></tr><tr><td>Σάββατο</td> <td>7:00 - 23:00</td></tr></table></span></div>
        <div class="r6"> <span id="a">ΟΤΕ, Γούναρη & Κανακάρη</span> <span id="b"><table><tr><td>Δευτέρα - Παρασκευή </td><td>6:00 - 22:00</td></tr><tr><td>Σάββατο</td> <td>7:00 - 23:00</td></tr></table></span></div>
      </div>
    </div>
    <script src="ticket_selling_point.mjs"></script>
  </body>