:root {
  font-size: 10px;
}

body {
  background-color:rgb(121, 121, 190);
  margin: 0;
  font: 1.8em / 1.8 Candara;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 64);
  margin:0;
  padding-left: 1.5em;
}

.logo {
  align-content: center;
  font-size: 2em;
  justify-content: flex-start;
  font-family: Broadway;
  color: white;
  line-height: 2.5em;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
}

nav ul li{
  display: flex;
  padding-top: 10em;
  padding: 1em;
}
nav ul :last-child{
  padding-top: 0.7em;
}

nav a {
  color: white;
  text-decoration: none; 
  padding-left: 1em;
  padding-right: 1em;
}

nav li:hover{
  background-color: rgba(0,0,47,1);
}

.sign-in{
  padding: 1em;
  width: 2em;
  cursor: pointer;
} 

.content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url("bus.jpg");
  }


.from-to{
  background-color: rgba(224, 228, 239, 0.7);
  border-radius: 10px;
  margin: 5%;
  margin-left: 10%;
  width: 25em;
  height: 70%;
}

.from{
  display: inline-flex;  
}
.from p{
  font-size: 1.2em;
  padding-top: 1.5em;
  padding-left: 2em;
}

.from_input{
  padding-top: 3.2em;
  padding-left: 1em;
}

.from input{
  font-size: 1em;
}

.from button{
  cursor: pointer;
}

.from button img{
  width:1.3em;
}

.to{
  display: inline-flex;
  height: 1.5em;
}

.to p{
  font-size: 1.2em;
  padding-left: 2em;
}

.to_input{
  padding-top: 1.5em;
  padding-left: .5em;
}

.to input{
  font-size: 1em;
}

.to button{
  cursor: pointer;
}

.to button img{
  width:1.3em;
}


.leave-now{
  padding: 1.5em;
  padding-left: 2em;
  padding-bottom: 0.5em;
}

.leave-now a{
  text-decoration: none;
  color: black;
}

.leave-now a:hover{
  cursor: pointer;
}

.searches{
  border-top-style: solid;
  border-top-color: rgba(0,0,0,0.3);
  color: rgba(1,1,1,0.6);
  font-style: italic;
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

.anouncements{
  background-color: rgb(98, 122, 190);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 20em;
  height: 100%;
  list-style-type: none;
}

.anouncements h2{
  padding-left: 3em;
}

.anouncements li{
  border-bottom-style:double;
  border-bottom-color: rgba(0,0,0,0.2);
  padding: 2em;
}

.search_button{
  padding-top: 1em;
}

.search_button button{
  cursor: pointer;
  margin-left: 40%;
  background-color: rgb(104, 96, 245);
  border-radius: 5px;
  font-size: 1em;
  border-color: rgba(0,0,0,0.2);
}